:root {
	--background: #0a0a0a;
	--text: #c8c8c8;
    --header: #f0f0f0;
    --border: rgb(74, 74, 74);
    --accent: #22d3ee;
	--Blue1: #99c1f1;
	--Blue2: #62a0ea;
	--Blue3: #3584e4;
	--Blue4: #1c71d8;
	--Blue5: #1a5fb4;
	--Green1: #8ff0a4;
	--Green2: #57e389;
	--Green3: #33d17a;
	--Green4: #2ec27e;
	--Green5: #26a269;
	--Yellow1: #f9f06b;
	--Yellow2: #f8e45c;
	--Yellow3: #f6d32d;
	--Yellow4: #f5c211;
	--Yellow5: #e5a50a;
	--Orange1: #ffbe6f;
	--Orange2: #ffa348;
	--Orange3: #ff7800;
	--Orange4: #e66100;
	--Orange5: #c64600;
	--Red1: #f66151;
	--Red2: #ed333b;
	--Red3: #e01b24;
	--Red4: #c01c28;
	--Red5: #a51d2d;
	--Purple1: #dc8add;
	--Purple2: #c061cb;
	--Purple3: #9141ac;
	--Purple4: #813d9c;
	--Purple5: #613583;
	--Brown1: #cdab8f;
	--Brown : #b5835a	;
	--Brown3: #986a44;
	--Brown4: #865e3c;
	--Brown5: #63452c;
	--Light1: #ffffff;
	--Light2: #e6e6e6;
	--Light1: #cccccc;
	--Light4: #b3b3b3;
	--Light5: #999999;
	--Dark1: #808080;
	--Dark2: #666666;
	--Dark3: #4d4d4d;
	--Dark4: #333333;
	--Dark5: #1a1a1a;
}
body, html
{
    height: 100% !important;
    width: 100% !important;
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
    color: var(--text);
    letter-spacing: 0.03em;
    font-size: 18px;
    font-family: "Satoshi-Bold";
    line-height: 1.5;
    font-size: 16px;
}
body::-webkit-scrollbar
{
    background-color: transparent;
    width: 5px;
}
body::-webkit-scrollbar-button
{
    display: none;
}
body::-webkit-scrollbar-thumb
{
    transition: 0.3s ease;
    background-color: var(--border);
    border-radius: 20px;
    width: 10px;
    cursor: ns-resize;
}
body::-webkit-scrollbar-thumb:hover
{
    transition: 0.3s ease;
    background-color: var(--text);
}
.cont
{
    width: fit-content;
    width: 90%;
    margin: 80px auto;
}
h2
{
    margin: 0px;
    padding-bottom: 20px;
    font-size: 1.75em;
}
h3
{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.25em;
}
.header
{
    margin-bottom: 10px;
    font-size: 1em;
}
.name
{
    color: var(--header);
    font-size: 3.5em;
    line-height: 1;
    margin-top: 0px !important;
    margin-bottom: 30px !important;
}
.nav
{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
    z-index: 3;
}
.nav-btn
{
    transition: 0.3s ease;
    flex-grow: 3;
    text-align: center;
    padding: 8px 16px;
    background-color: var(--background);
    border-bottom: 3px solid var(--border);
}
.nav-btn:hover
{
    transition: 0.3s ease;
    color: var(--accent);
}
.border
{
    color: var(--border);
}
hr
{
    border: 1px solid var(--border);
    border-radius: 50%;
}
.skills
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.skill
{
    padding: 3px 8px;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    margin-right: 10px;
    margin-bottom: 10px
}
a
{
    color: var(--text);
    text-decoration: none;
}
.card-deck
{
    display: flex;
    flex-wrap: wrap !important;
    flex-grow: 3;
    margin: 0px;
    gap: 10px;
}
.project
{
    z-index: 2;
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: rgb(18, 18, 18);
}
.p-main
{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 7px;
    padding: 7px 16px 0px 16px;
    flex-grow: 1;
}
.p-img::-webkit-scrollbar, .p-img-cont::-webkit-scrollbar
{
    display: none;
}
.p-img
{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    min-width: calc(100% - 20px) !important;
    height: 180px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 0.65em;
    padding: 10px;
    text-shadow: 
        -1px -1px 0 var(--background),  
        1px -1px 0 var(--background),
        -1px  1px 0 var(--background),
        1px  1px 0 var(--background);
}
.p-img-cont
{
    display: flex;
    height: 200px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.p-img-cont::-webkit-scrollbar-button(right)
{
    content: "HELLO→";
    border: none;
    background-color: var(--accent);
    font-family: Consolas;
    color: black;
    height: 60px;
    width: 60px;
}
.p-head
{
    font-size: 1.3em;
}
.p-type
{
    font-family: Consolas;
    font-size: 0.6em;
    color: var(--accent);
}
.p-body
{
    font-family: "Satoshi-Regular";
    font-size: 1em;
}
.p-links
{
    overflow: hidden;
    border-top: 1px solid var(--border);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    align-self: flex-end;
}
.p-link
{
    font-family: "Satoshi-Regular";
    font-size: 1em;
    flex-grow: 1;
    padding: 8px 16px;
    text-align: center;
}
.p-link:hover
{
    color: var(--accent);
}
.p-skills
{
    width: calc(100% - 14px);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: auto;
    bottom: 100px;
    padding: 7px;
    align-self: flex-end;
}
.p-skill
{   
    font-family: "Consolas";
    font-size: 0.6em;
    margin-top: 7px;
    flex-grow: 1;
    flex-wrap: wrap;
    border: 0.5px solid var(--border);
    padding: 3px 8px;
    border-radius: 0.5rem;
    width: fit-content;
    text-align: center;
}
